html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background: #d2c8b5 url(../i/bkg.png);
  color: #3e3b36;
}
a {
  color: #125600;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 970px;
}
.heading {
  padding-top: 20px;
  margin-bottom: 30px;
  border-bottom: 1px dotted #888;
}
.footer {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px dotted #888;
  font-size: 90%;
}
#board {
  width: 640px;
  height: 480px;
  margin: 0 auto;
  border: 1px solid #888;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url('../i/board.png');
}
#board.loading {
  background-color: #d2c8b5;
  background-image: url('../i/loading.gif');
  background-position: center center;
}
#board.game .tile.visible,
#board.game-over .tile.visible {
  display: block;
}
#board.game-won {
  background-image: url('../i/win.png');
}
#board .tile {
  display: none;
  position: absolute;
}
#board .tile.clickable {
  cursor: pointer;
}
#board .tile.selected {
  box-shadow: inset 0 0 5px #df0000;
}
.tile {
  background-image: url('../i/tiles.png');
  background-repeat: no-repeat;
}
.tile.tile-1 {
  width: 36px;
  height: 48px;
  background-position: 0px 0px;
}
.tile.tile-2 {
  width: 36px;
  height: 48px;
  background-position: -36px 0px;
}
.tile.tile-3 {
  width: 36px;
  height: 48px;
  background-position: -72px 0px;
}
.tile.tile-4 {
  width: 36px;
  height: 48px;
  background-position: 0px -48px;
}
.tile.tile-5 {
  width: 36px;
  height: 48px;
  background-position: -36px -48px;
}
.tile.tile-6 {
  width: 36px;
  height: 48px;
  background-position: -72px -48px;
}
.tile.tile-7 {
  width: 36px;
  height: 48px;
  background-position: -108px 0px;
}
.tile.tile-8 {
  width: 36px;
  height: 48px;
  background-position: -108px -48px;
}
.tile.tile-9 {
  width: 36px;
  height: 48px;
  background-position: 0px -96px;
}
.tile.tile-10 {
  width: 36px;
  height: 48px;
  background-position: -36px -96px;
}
.tile.tile-11 {
  width: 36px;
  height: 48px;
  background-position: -72px -96px;
}
.tile.tile-12 {
  width: 36px;
  height: 48px;
  background-position: -108px -96px;
}
.tile.tile-13 {
  width: 36px;
  height: 48px;
  background-position: -144px 0px;
}
.tile.tile-14 {
  width: 36px;
  height: 48px;
  background-position: -144px -48px;
}
.tile.tile-15 {
  width: 36px;
  height: 48px;
  background-position: -144px -96px;
}
.tile.tile-16 {
  width: 36px;
  height: 48px;
  background-position: -180px 0px;
}
.tile.tile-17 {
  width: 36px;
  height: 48px;
  background-position: -180px -48px;
}
.tile.tile-18 {
  width: 36px;
  height: 48px;
  background-position: -180px -96px;
}
.tile.tile-19 {
  width: 36px;
  height: 48px;
  background-position: 0px -144px;
}
.tile.tile-20 {
  width: 36px;
  height: 48px;
  background-position: -36px -144px;
}
.tile.tile-21 {
  width: 36px;
  height: 48px;
  background-position: -72px -144px;
}
.tile.tile-22 {
  width: 36px;
  height: 48px;
  background-position: -108px -144px;
}
.tile.tile-23 {
  width: 36px;
  height: 48px;
  background-position: -144px -144px;
}
.tile.tile-24 {
  width: 36px;
  height: 48px;
  background-position: -180px -144px;
}
.tile.tile-25 {
  width: 36px;
  height: 48px;
  background-position: -216px 0px;
}
.tile.tile-26 {
  width: 36px;
  height: 48px;
  background-position: -216px -48px;
}
.tile.tile-27 {
  width: 36px;
  height: 48px;
  background-position: -216px -96px;
}
.tile.tile-28 {
  width: 36px;
  height: 48px;
  background-position: -216px -144px;
}
.tile.tile-29 {
  width: 36px;
  height: 48px;
  background-position: 0px -192px;
}
.tile.tile-30 {
  width: 36px;
  height: 48px;
  background-position: -36px -192px;
}
.tile.tile-31 {
  width: 36px;
  height: 48px;
  background-position: -72px -192px;
}
.tile.tile-32 {
  width: 36px;
  height: 48px;
  background-position: -108px -192px;
}
.tile.tile-33 {
  width: 36px;
  height: 48px;
  background-position: -144px -192px;
}
.tile.tile-34 {
  width: 36px;
  height: 48px;
  background-position: -180px -192px;
}
.tile.tile-35 {
  width: 36px;
  height: 48px;
  background-position: -216px -192px;
}
.tile.tile-36 {
  width: 36px;
  height: 48px;
  background-position: -252px 0px;
}
.tile.tile-37 {
  width: 36px;
  height: 48px;
  background-position: -252px -48px;
}
.tile.tile-38 {
  width: 36px;
  height: 48px;
  background-position: -252px -96px;
}
.tile.tile-39 {
  width: 36px;
  height: 48px;
  background-position: -252px -144px;
}
.tile.tile-40 {
  width: 36px;
  height: 48px;
  background-position: -252px -192px;
}
.tile.tile-41 {
  width: 36px;
  height: 48px;
  background-position: 0px -240px;
}
.tile.tile-42 {
  width: 36px;
  height: 48px;
  background-position: -36px -240px;
}
