/* functions */
* {
  margin: 0;
}
html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background: #d2c8b5 url(../i/bkg.png);
  color: #3e3b36;
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
  /* the bottom margin is the negative value of the footer's height */

}
footer,
.push {
  height: 50px;
  /* .push must be the same height as .footer */

}
p {
  margin-bottom: 1em;
}
a {
  color: #125600;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */

  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.text-right {
  text-align: right;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 970px;
}
header {
  padding: 30px 0 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #b0a18c;
}
footer {
  border-top: 1px dotted #888;
  font-size: 90%;
  line-height: 50px;
  height: 50px;
}
i {
  display: inline-block;
  vertical-align: text-top;
  background-image: url("../i/sprite.png");
  background-repeat: no-repeat;
}
i.ic-xing {
  width: 16px;
  height: 16px;
  background-position: 0px 0px;
}
i.ic-linkedin {
  width: 16px;
  height: 16px;
  background-position: -16px 0px;
}
#board {
  width: 640px;
  height: 480px;
  margin: 0 auto;
  border: 1px solid #888;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url('../i/bkg_game.jpg');
}
#board.loading {
  background-color: #d2c8b5;
  background-image: url('../i/loading.gif');
  background-position: center center;
}
#board.game .tile.visible,
#board.game-over .tile.visible,
#board.game .tile-shadow.visible,
#board.game-over .tile-shadow.visible {
  display: block;
}
#board.game-won {
  background-image: url('../i/win.png');
}
#board .tile-shadow {
  display: none;
  position: absolute;
  width: 36px;
  height: 48px;
  background: white;
  box-shadow: 0 0 10px #000, 5px 5px 10px #000;
}
#board .tile {
  display: none;
  position: absolute;
}
#board .tile.clickable {
  cursor: pointer;
}
#board .tile.clickable:hover {
  box-shadow: inset 0 0 3px 1px #ffb800;
}
#board .tile.selected {
  box-shadow: inset 0 0 10px #df0000;
}
#board .tile.selected:hover {
  box-shadow: inset 0 0 10px #df0000;
}
.tile {
  width: 36px;
  height: 48px;
  background-image: url('../i/tiles.png');
  background-repeat: no-repeat;
}
.tile.tile-1 {
  background-position: 0px 0px;
}
.tile.tile-2 {
  background-position: -36px 0px;
}
.tile.tile-3 {
  background-position: -72px 0px;
}
.tile.tile-4 {
  background-position: 0px -48px;
}
.tile.tile-5 {
  background-position: -36px -48px;
}
.tile.tile-6 {
  background-position: -72px -48px;
}
.tile.tile-7 {
  background-position: -108px 0px;
}
.tile.tile-8 {
  background-position: -108px -48px;
}
.tile.tile-9 {
  background-position: 0px -96px;
}
.tile.tile-10 {
  background-position: -36px -96px;
}
.tile.tile-11 {
  background-position: -72px -96px;
}
.tile.tile-12 {
  background-position: -108px -96px;
}
.tile.tile-13 {
  background-position: -144px 0px;
}
.tile.tile-14 {
  background-position: -144px -48px;
}
.tile.tile-15 {
  background-position: -144px -96px;
}
.tile.tile-16 {
  background-position: -180px 0px;
}
.tile.tile-17 {
  background-position: -180px -48px;
}
.tile.tile-18 {
  background-position: -180px -96px;
}
.tile.tile-19 {
  background-position: 0px -144px;
}
.tile.tile-20 {
  background-position: -36px -144px;
}
.tile.tile-21 {
  background-position: -72px -144px;
}
.tile.tile-22 {
  background-position: -108px -144px;
}
.tile.tile-23 {
  background-position: -144px -144px;
}
.tile.tile-24 {
  background-position: -180px -144px;
}
.tile.tile-25 {
  background-position: -216px 0px;
}
.tile.tile-26 {
  background-position: -216px -48px;
}
.tile.tile-27 {
  background-position: -216px -96px;
}
.tile.tile-28 {
  background-position: -216px -144px;
}
.tile.tile-29 {
  background-position: 0px -192px;
}
.tile.tile-30 {
  background-position: -36px -192px;
}
.tile.tile-31 {
  background-position: -72px -192px;
}
.tile.tile-32 {
  background-position: -108px -192px;
}
.tile.tile-33 {
  background-position: -144px -192px;
}
.tile.tile-34 {
  background-position: -180px -192px;
}
.tile.tile-35 {
  background-position: -216px -192px;
}
.tile.tile-36 {
  background-position: -252px 0px;
}
.tile.tile-37 {
  background-position: -252px -48px;
}
.tile.tile-38 {
  background-position: -252px -96px;
}
.tile.tile-39 {
  background-position: -252px -144px;
}
.tile.tile-40 {
  background-position: -252px -192px;
}
.tile.tile-41 {
  background-position: 0px -240px;
}
.tile.tile-42 {
  background-position: -36px -240px;
}
#downloads {
  text-align: center;
  margin: 40px 0;
}
#downloads .button {
  display: inline-block;
  padding: 5px 20px;
  margin: 0 20px;
  border: 1px solid #888;
  text-decoration: none;
  background: #fbefd7;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ie-border-radius: 5px;
  -o-border-radius: 5px;
  behavior: url(/pie/PIE.htc);
  zoom: 1;
  position: relative;
}
#downloads .button:hover {
  background: #ebdfc9;
  background: -webkit-gradient(linear, left top, right top, from(#fbefd7), to(#dbcebb));
  background: -moz-linear-gradient(left, #fbefd7, #dbcebb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fbefd7,endColorstr=#dbcebb);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#fbefd7,endColorstr=#dbcebb)";
  background: linear-gradient(#fbefd7, #dbcebb);
}
